<div class="head">
    <div class="wrap">
        <div class="select">
           <input type="text">
           <div class="select-list" style="display: none;">
               <div class="select-list__one">Пункт 1</div>
               <div class="select-list__one">Пункт 2</div>
               <div class="select-list__one">Пункт 3</div>
           </div>
        </div>
        <div class="select">
           <input type="text">
           <div class="select-list" style="display: none;">
               <div class="select-list__one select-default">Пункт 1</div>
               <div class="select-list__one">Пункт 2</div>
               <div class="select-list__one">Пункт 3</div>
           </div>
        </div>
    </div>
</div>