<footer class="footer">
    <div class="wrap">
        <div class="contacts">
            <div class="contacts-bg"></div>
            <h3 class="contact-h">Контакты</h3>
            <p class="contact_item insta">instagram.com/tatasidore/</p>
            <p class="contact_item vk">vk.com/tatasidore</p>
            <p class="contact_item fb">facebook.com/sidorenkolisa/</p>
            <p class="contact_item mobile">Тел. +7 9999120899</p>
            <p class="contact_item mail">E-mail: t.sidorenko@mail.ru</p>
        </div>
        <div class="footer-maps">
            <div class="footer-maps-bg overflow"></div>
            <div class="map-places">
                <ul class="map-places_list no-marker">
                    <li class="place-active"><a class="places_item " href="#">м. Улица 1905</a></li>
                    <li><a class="places_item" href="#">м. Китай город</a></li>no
                    <li><a class="places_item" href="#">м. Пушкинская</a></li>
                    <li><a class="places_item" href="#">м. Аэропорт</a></li>
                    <li><a class="places_item" href="#">м. Славянский бульвар</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
