<header>
    <div>
        <img class="logo" src="../img/logo.png">
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li class="main-nav-item">
                    <a class="nav-link" href="#">Обо мне</a>
                </li>
                <li class="main-nav-item">
                    <a class="nav-link" href="#">Заказать выступление</a>
                </li>
                <li class="main-nav-item">
                    <a class="nav-link" href="#">Обучение</a>
                </li>
                <li class="main-nav-item">
                    <a class="nav-link" href="#">Отзывы</a>
                </li>
                <li class="main-nav-item">
                    <a class="nav-link" href="#">Подарить сертификат</a>
                </li>
                <li class="main-nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
