<div id="overlay">
	<div class="modal" id="order">
		<div class="order__inn">
			<div class="modal__close"></div>
			<div class="order-title">Write Us</div>
			<div class="order-form">
				<form id="order-form" action="" method="post" >
					<div class="form-line">
						<label for="">Name</label>
						<input type="text" name="name">
					</div>
					<div class="form-line">
						<label for="">Email</label>
						<input type="text" name="email">
					</div>
					<div class="form-line">
						<label for="">Phone number</label>
						<input type="text" name="phone">
					</div>
					<div class="form-line">
						<label for="">Your message</label>
						<textarea name="mesage"></textarea>
					</div>
					<div class="form-line">
						<label for=""></label>
						<button class="form-send">Send</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>