<article class="content">
        <div class="wrap">

            <div class="about">
                <h2 class="about_h">Обо мне</h2>
                <div class="about_text">
                    <p class="about_p">
                        Сидоренко Татьяна Владимировна - лирическое сопрано.
                        <br>В репертуаре у певицы: классический оперный репертуар, репертуар в жанре classical crossover, романсы русских и зарубежных композиторов, партии из мюзиклов и эстрадные песни разных лет.
                    </p>
                    <ul class="about_list">
                        <li>Закончила Уральскую Государственную консерваторию им.   Мусоргского (2007-2012) с красным дипломом.</li>
                        <li>Дипломант и лауреат международных конкурсов;</li>
                        <li>экс артистка театра музыкальной комедии г.Екатеринбург;</li>
                        <li>экс солистка Ансамбля песни и пляски ЦВО;</li>
                        <li>участник военной операции в Сирии (медаль);</li>
                        <li>экс солистка шоу группы Сопрано10 Турецкого.</li>
                    </ul>
                    <a class="btn" href="#">Читать далее</a>
                </div>
                <div class="about_image ">
                    <div class="about-image_shadow overflow"></div>
                </div>
            </div>
        </div>
        <div class="wrap">
            <div class="video-slider">
                <!-- тут должно быть видео -->
            </div>
        </div>
        <div class="wrap">
            <div class="order">
                <div class="order_text">
                    <h3>Хотите украсить ваше мероприятие ?</h3>
                    <p class="order-description">
                        Закажите выступление профессионального артиста!
                    </p>
                    <p class="order-description">
                        Стоимость выступления -
                    </p>
                    <p class="order-cost">от 5 000 руб.</p>
                    <a class="btn btn-narrow" href="#">Отправить заявку</a>
                </div>
                <div class="order-image"></div>
            </div>
        </div>

            <div class="edu">
                <div class="wrap">
                    <h2>Обучение вокалу</h2>
                </div>

                <div class="edu_description">

                        <div class="edu-description_item pink-bg">
                            <div class="wrap">
                            <div class="edu-icons"> <div class="icon icon-mic"></div>
                            </div>
                            <div class="description_item-name">

                                <p class="edu-name">В нашей домашней студии</p>
                            </div>
                            <div class="description_item-hour">
                                <p class="hour-cost"><span class="semibold">1000</span> руб./час</p>
                            </div>
                            <div class="description_item-cost">
                                <ul class="no-marker edu_cost-list">
                                    <li>4 занятия</li>
                                    <li>8 занятий</li>
                                    <li>16 занятий</li>
                                    <li>32 занятия</li>
                                </ul>
                            </div>
                            <div class="description_item-cost">
                                <ul class="no-marker edu_cost-list edu_list-right">
                                    <li>4 800 руб.</li>
                                    <li>8 800 руб.</li>
                                    <li>16 000 руб.</li>
                                    <li>32 000 руб.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                        <div class="edu-description_item">
                            <div class="wrap">
                            <div class="edu-icons"> <div class="icon icon-mic2"></div>
                            </div>
                            <div class="description_item-name">

                                <p class="edu-name">На репетиционной базе</p>
                            </div>
                            <div class="description_item-hour">
                                <p class="hour-cost"><span class="semibold">1300</span> руб./час</p>
                            </div>
                            <div class="description_item-cost">
                                <ul class="no-marker edu_cost-list">
                                    <li>4 занятия</li>
                                    <li>8 занятий</li>
                                    <li>16 занятий</li>
                                    <li>32 занятия</li>
                                </ul>
                            </div>
                            <div class="description_item-cost">
                                <ul class="no-marker edu_cost-list edu_list-right">
                                    <li>5 600 руб.</li>
                                    <li>11 200 руб.</li>
                                    <li>21 600 руб.</li>
                                    <li>43 200 руб.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="edu-description_item pink-bg">
                        <div class="wrap">
                        <div class="edu-icons"> <div class="icon icon-home"></div>
                        </div>
                        <div class="description_item-name">

                            <p class="edu-name">У вас на дому</p>
                        </div>
                        <div class="description_item-hour">
                            <p class="hour-cost"><span class="semibold">2000</span> руб./час</p>
                        </div>
                        <div class="description_item-cost">
                            <ul class="no-marker edu_cost-list">
                                <li>4 занятия</li>
                                <li>8 занятий</li>
                                <li>16 занятий</li>
                                <li>32 занятия</li>
                            </ul>
                        </div>
                        <div class="description_item-cost">
                            <ul class="no-marker edu_cost-list edu_list-right">
                                <li>5 600 руб.</li>
                                <li>11 200 руб.</li>
                                <li>21 600 руб.</li>
                                <li>43 200 руб.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="enroll">
                    <p class="enroll_text">
                        Запишитесь через сайт и получите первое занятие в нашей студии всего за 500 руб.
                    </p>
                    <a class="btn" href="#">Записаться</a>
                </div>
            </div>
            <div class="wrap">
                <div class="training-struct ">
                    <div class="struct-description">
                        <div class="struct-description_bg overflow"></div>
                        <h4 class="struct-h">Из чего состоит занятие:</h4>
                        <ul class="struct-list">
                            <li>Постановка дыхания</li>
                            <li>Распевки, упражнения</li>
                            <li>Развитие дикции</li>
                            <li>Работа над репертуаром</li>
                        </ul>
                        <a class="btn btn-narrow" href="#">Узнать подробнее</a>

                    </div>
                    <div class="struct-preferences">
                        <div class="struct-preferences_bg overflow"></div>
                        <h4 class="struct-h">Кроме этого вы сможете:</h4>
                        <ul class="struct-list no-margin">
                            <li>Подготовить подарок-песню</li>
                            <li>Подготовиться к выступлению, отчетному концерту</li>
                            <li>Записать вашу песню в профессиональной студии:</li>
                        </ul>
                        <ul class="no-marker preferenses_list">
                            <li>60 мин. записи + сведение — от 1500 руб.</li>
                            <li>120 мин. записи + сведение + мастеринг — от 3000 руб.</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="students">
                    <div class="students-order">
                        <div class="students-order-bg pink-bg"></div>
                            <h3 class="students-h">Здесь будет ваше имя!</h3>
                            <p class="students-order-descr"> Не откладывайте свою мечту, научитесь петь уже сегодня!</p>
                            <a class="btn btn-narrow" href="#">отправить заявку</a>
                    </div>
                    <div class="feedbacks">
                        <h3 class="feedbacks-h">Мои ученики</h3>
                        <div class="feedbacks_item">
                            <p class="student_name no-margin">
                                Марина Кулик,
                            </p>
                            <p class="student_id">
                                vk.com/id7245206
                            </p>
                            <p class="student_feedback">Бесконечно благодарна Вам, Таня, моя первая учительница вокала, за терпение, большой талант преподавания, и за вашу любовь к каждому начинающему ученику. По крайней мере я это чувствую и по сей день удовольствие!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="sertificate">
                    <div class="sertificate-fill pink-bg"></div>
                    <div class="sertificate_text">
                        <p class="sertificate_descr">Сделайте оригинальный подарок близкому человеку — <b>обучение пению!</b></p>
                        <ul class="no-marker struct-list sertidicate-list">
                            <li>на 4 занятия — 5 400 руб.</li>
                            <li>на 8 занятий — 10 800 руб.</li>
                        </ul>
                        <a class="btn" href="#">Подарить сертификат</a>
                    </div>
                </div>
            </div>
    </article>
